<div class="jumbotron masthead">
  <div class="container">
    <h1>CloudGP</h1>
    <p>Patient Medical Records on the cloud. Affordable, 24x7 access anytime, anywhere.</p>
    <p>
      <%= link_to 'Sign Up today', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
    </p>
  </div>
</div>
