<div class="container">

  <div class="marketing">

    <h1>Run your clinic from anywhere</h1>
    <p class="marketing-byline"><h2>Free 45-days trial!</h2></p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="/assets/home/VPC_Cloud_Lock.png">
        <h2>Fast, Secure, Simple</h2>
      </div>
      <div class="span4">
        <img class="marketing-img" src="/assets/home/cloud_time.png">
        <h2>Get more done in less</h2>
      </div>
      <div class="span4">
        <img class="marketing-img" src="/assets/home/cloudAnywhere.png">
        <h2>Accessible anytime, anywhere</h2>
      </div>
    </div>

  </div>

</div>
