<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/"><img id="CloudGP" src="/assets/logo.png"></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li class="">
            <a href="./getting-started.html">Pricing</a>
          </li>
        </ul>
        <div class="nav pull-right">
          <%= link_to 'Login', new_user_session_path, :class => 'btn btn-success' %>
          <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

