<div class="container">
  <div class="row">
    <div class="span12">
      <div class="pricing-plans plans-2">
        <div class="plan-container">
          <div class="plan">
            <div class="plan-header">
              <div class="plan-title">
                <h4>Free Trial</h4>
              </div> <!-- /plan-title -->

              <div class="plan-price">
                <span class="note">RM</span>Free<span class="term">for 30 days</span>
              </div> <!-- /plan-price -->
            </div> <!-- /plan-header -->

            <div class="plan-features">
              <ul>
                <li>Unlimited Users</li>
                <li>Unlimited Patients</li>
                <li>Unlimted Appointments</li>
                <li>30-days <strong>Free Trial</strong></li>
              </ul>
            </div> <!-- /plan-features -->

            <div class="plan-actions">
              <%= link_to 'SIGN UP TODAY', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
            </div> <!-- /plan-actions -->
          </div> <!-- /plan -->
        </div> <!-- /plan-container -->

        <div class="plan-container">
          <div class="plan orange">
            <div class="plan-header">
              <div class="plan-title">
                <h4>Premium</h4>
              </div> <!-- /plan-title -->

              <div class="plan-price">
                <span class="note">RM</span>59<span class="term">Per Month</span>
              </div> <!-- /plan-price -->
            </div> <!-- /plan-header -->

            <div class="plan-features">
              <ul>
                <li>Unlimited Users</li>
                <li>Unlimited Patients</li>
                <li>Unlimted Appointments</li>
                <li>30-days <strong>Free Trial</strong></li>
              </ul>
            </div> <!-- /plan-features -->

            <div class="plan-actions">
              <%= link_to 'SIGN UP TODAY', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
            </div> <!-- /plan-actions -->
          </div> <!-- /plan -->
        </div> <!-- /plan-container -->
      </div> <!-- /pricing-plans -->
    </div> <!-- /span12 -->
  </div> <!-- /row -->
</div> <!-- /container-->
